header h1{
    text-transform: capitalize;
    letter-spacing: 2px;
    max-width: 0%;
    padding: 10px;

}

header h2{
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
    color: aqua;
}

/*navegacion*/
nav{
    background-color: aliceblue;
    margin: 0 15px;
    font-weight: bold;
    text-decoration: normal;
}

nav{
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;

}

nav a{
    color: azure;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;

}

nav a:hover{
    color: black;
    text-decoration: underline;
}

/*seccion principal contenedor*/

.contenedor{
    background-color: beige;
    border-radius: 10px;
    box-shadow: 0 0 10px;
    margin: 25px;
    padding: 20px;
}

/*titulo*/
h3{
    color: blue;
    /*linea debajo el texto*/
    border-bottom: 2px solid  rgb(red, green, blue);
    padding-bottom: 5px;
    font-size: 1,3em;
}

p{
    text-align: justify;
    margin-bottom: 5px;
    font-size: lem;
}

/*imagenes*/
image{
    display: block;
    /*alimentar ancho*/
    width: 200px;
    margin: 25px;
    border-radius: 0 0 10 black
;
}

/*listas*/
ul, 
ol{
    margin-left: 40px;
}

li{
    margin: 5px 0;
    font-size: 1em;
}

/*enlaces*/
a{
    color: bisque;
    text-decoration: none;
    font-weight: bold;
}

a:hover{
    color: black;
    text-decoration: none;
}

/*tabla*/
table{
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: aliceblue;
}

th,
td{
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: 0.90em;
}

th{
    background-color: aqua;
    color: blueviolet;
}

tr:nth-child(even){
    background-color: bisque;
}